for graf in ask
	p.ask!= graf.value

div#modes
	select
		for v, k in modes
			option(value=k)= v

for v, k in modes
	div(class=k, class="mode")
		for graf in mode[k][0].lastgraf
			div(class="mode-lastgraf")!= graf.value

for graf in intro
	div(id=k, class="intro")
		div!= graf.value

for v, k in modes
	div(class=k, class="mode")
		for graf in mode[k][0].modebody
			div!= graf.value

div#table1
	div.qz-table-container
		table.qz-table
			thead.qz-table-header
				tr
					td Method
					td Average spread
					td Examples
					td Added fees
			tbody
				tr.qz-table-row
					td ATM
					td 8.8%
					td <a href="https://satoshipoint.com/">SatoshiPoint</a>, <a href="http://www.coinsource.net/">Coinsource</a>
					td NA
				tr.qz-table-row-alt
					td Peer-to-peer
					td ~3%
					td <a href="http://localbitcoins.com">LocalBitcoins</a>
					td 1% for advertisements
				tr.qz-table-row
					td Basic Exchange
					td 0.5%
					td <a href="https://www.coinbase.com/">Coinbase</a>
					td 2-4% per trade
				tr.qz-table-row-alt
					td Sophisticated exchange
					td 0.02-0.04%
					td <a href="https://www.gdax.com/fees/BTC-USD">Coinbase GDAX</a>, <a href="https://www.bitfinex.com/fees">Bitfinex</a>
					td 0.2-0.25% per trade

div#table2
	div.qz-table-container
		table.qz-table
			thead.qz-table-header
				tr
					td Method
					td Pros
					td Cons
			tbody
				tr.qz-table-row
					td ATM
					td Quick and easy
					td Expensive
				tr.qz-table-row-alt
					td Peer-to-peer
					td Fairly fast, bespoke
					td Nonstandard transactions
				tr.qz-table-row
					td Exchanges
					td Time-consuming setup
					td Cheaper in the long run
